   <div class="container">
    <div class="card panel" id="left-panel">
      <ng-container *ngIf="chatQuizResults">
          <p>Data storage : {{ chatQuizResults.score.data_save }} / 5</p>
          <p>Password : {{ chatQuizResults.score.password }} / 5</p>
          <p>Phishing : {{ chatQuizResults.score.phishing }} / 5</p>
          <p>Ransomware : {{ chatQuizResults.score.ransomware }} / 5</p>
          <p>Social Engineering : {{ chatQuizResults.score.social }} / 5</p>
      </ng-container>
      <ng-container *ngFor="let item of chatQuizResults.quiz_results; let i = index" >
        <p>Question {{ i }} : <ng-container *ngIf="item == 'False'">❌</ng-container><ng-container *ngIf="item == 'True'">✓</ng-container></p>
    </ng-container>
    </div>
    <div class="card">
      <div class="chat-list" #chatListContainer>
        <ng-container *ngFor="let item of chatMessages">
          <div class="chat-item" [ngClass]="{'right' : item?.user?.id == human.id, 'left': item?.user?.id != human.id}">
            <p *ngIf="item?.type==='text' || item?.type==='quick_replies'" id="message-body">{{item?.message}}</p>
            <iframe *ngIf="item?.type==='youtube_link'" [src]='item?.message' frameborder="0" allowfullscreen></iframe>
          </div>
        </ng-container>
      </div>
      <ng-container *ngFor="let item of chatMessages">
        <div class="quick-replies-list">
          <div class="quick-replies-item" *ngFor="let quick_reply of item?.quick_replies">
            <button class="quick-replies-body" (click)="replaceInput(quick_reply)" onclick="clearQuickReply()">{{quick_reply}}</button>
          </div>
        </div>
      </ng-container>
      <div class="chat-footer">
        <input matInput id="chat-textarea" onkeypress="handleKeyPress(event)" (keydown.enter)="saveChatbot()" [(ngModel)]="message" required>
        <button id="send-button" (click)="saveChatbot()" (keydown.enter)="saveChatbot()" onclick="clearInput()" [disabled]="message === ''">
          send
        </button>
      </div>
    </div>
    <div class="card panel" id="right-panel">
      <h2 class="panel-title" *ngIf="chatYoutube[0]">Videos</h2>
      <div class="chat-list" #chatListContainer>
        <ng-container *ngFor="let item of chatYoutube">
          <div class="chat-item">
            <iframe [src]='item?.message' frameborder="0" allowfullscreen></iframe>
          </div>
        </ng-container>
      </div>
      <h2 style="margin-bottom:10px" class="panel-title">Useful links</h2>
      <div id="listUsefulLink" #chatListContainer>
        <ng-container *ngFor="let item of chatUsefulLink">
          <div class="chat-item">
              <h3 style="text-align:center;margin-bottom: 5px;"><a [href]="item['link']" target="_blank">{{item['title']}}</a></h3>
          </div>
        </ng-container>
      </div>
    </div>
    </div>

