<script>alert("test");</script>
   <div class="container">
    <div class="card">
      <div class="chat-list" #chatListContainer>
        <ng-container *ngFor="let item of chatMessages">
          <div class="chat-item" [ngClass]="{'right' : item?.user?.id == human.id, 'left': item?.user?.id != human.id}">
            <p *ngIf="item?.type==='text'" id="message-body">{{item?.message}}</p>
            <iframe *ngIf="item?.type==='youtube_link'" [src]='item?.message' frameborder="0" allowfullscreen></iframe>
          </div>
        </ng-container>
      </div>
      <ng-container *ngFor="let item of chatMessages">
        <div class="quick-replies-item" *ngFor="let quick_reply of item?.quick_replies">
          <button class="quick-replies-body" (click)="replaceInput(quick_reply)" onclick="clearQuickReply()">{{quick_reply}}</button>
        </div>
      </ng-container>
      <div class="chat-footer">
        <input matInput id="chat-textarea" (keydown.enter)="saveChatbot()" [(ngModel)]="message" required>
        <button id="send-button" (click)="saveChatbot()" (keydown.enter)="saveChatbot()" [disabled]="message === ''">
          send
        </button>
      </div>
    </div>
   </div>
